._container {
    position: absolute;
    bottom: 15px;
    right: 10px;
    top: 135px;
    left: 10px;
}

#code {
    margin: 0;
    float: right;
    width: 30%;
    height: 100%;
    color: #5F5F5F;
    overflow: auto;
    padding: 0px 0px;
}

code {
    padding: 0px 0px;
}

#wrap {
    height: 100%;
    width: 100%;
    margin: 0;
}

.treeLabelBlock {
    float: left;
    margin: 0 5px 0 5px;
    width: 10px;
    height: 100%;
}